@import url('https://fonts.googleapis.com/css2?family=Albert+Sans&family=League+Spartan&family=Orbitron&family=Raleway:wght@100&family=Roboto:wght@400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Albert Sans", serif;
}

:root {
    --global_background_color: rgb(255, 255, 255);
    --global_primary_color: rgb(56, 83, 255);
    --global_secondary_color: rgb(30, 30, 30);
    --global_text_color: rgb(0, 0, 0);
    --global_green_color: rgb(58, 194, 13);
    --global_red_color: rgb(255, 12, 12);
    --global_orange_color: rgb(255, 127, 0);
    --global_yellow_color: rgb(255, 187, 0);
    --global_grey_color: rgb(179, 179, 179);

    --global_border_radius: 1.2rem;
}
