

.index__header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem 1.5rem;
}

.index__header img{
    width: 40px;
    margin-right: 1rem;
    animation: spin 5s linear infinite; /* Utilisation de l'animation spin */
}

.index__header p{
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-color);
}

@keyframes spin {
    0% {
        transform: rotate(0deg); /* Rotation initiale */
    }
    100% {
        transform: rotate(360deg); /* Rotation complète (360 degrés) */
    }
}

.smiley_container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.smiley_container img{
    width: 70%;
}