.profile {
    position: relative;
    width: 100%;
    padding: 0 2rem;
}

.back {
    font-size: 1.6rem;
    color: var(--global_secondary_color);
    position: absolute;
    top: 2rem;
    left: 2.5rem;
}

.profile__header {
    position: relative;
    width: 100%;
    padding-top: 2.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
}

.log_out {
    font-size: 1.5rem;
    color: var(--global_secondary_color);
    position: absolute;
    top: 2rem;
    right: 2.5rem;
}

.profile__img {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}

.profile__tabs {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 2rem;
    border: 1px solid var(--global_grey_color);
    padding: .1rem;
    margin-bottom: 2rem;
}

.profile__tab {
    position: relative;
    background-color: transparent;
    color: var(--global_text_color);
    padding: .75rem 2.5rem;
    border-radius: 2rem;
    font-size: .8rem;
}

.profile__tab.active {
    background-color: var(--global_secondary_color);
    color: #ffffff;
}

.profile__tab-stats,
.profile__tab-friend,
.profile__tab-rank {
    display: none;
}

.profile__tab-stats.active,
.profile__tab-friend.active,
.profile__tab-rank.active {
    display: block;
}

.profile__title {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile__title p {
    font-size: 1.4rem;
    font-weight: 600;
}

.profile__settings {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile__settings a:last-child {
    position: relative;
    padding: .4rem .8rem;
    background-color: var(--global_grey_color_input);
    color: var(--global_background_color);
    border-radius: 2rem;
    color: #000000;
    font-weight: 600;
    font-size: .8rem;
    margin-left: .5rem;
}

.profile__friends {
    position: relative;
    width: 100%;
    margin-top: 1rem;
}

.profile__friend {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.5rem;
}

.profile__friend:not(:last-child) {
    margin-bottom: .75rem;
}

.profile__friend__base {
    border: 1px solid #000000;
    border-radius: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.profile__friend__base i {
    margin-right: 1rem;
    font-size: 1.5rem;
}

.profile__friend__infos {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.profile__friend__infos img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.profile__friend__infos p {
    font-size: 1.2rem;
    font-weight: 600;
}

.profile__friend__settings {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile__friend__settings__message,
.profile__friend__settings__delete {
    width: 4.5rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}

.profile__friend__settings__message {
    background-color: var(--global_secondary_color);
}

.profile__friend__settings__delete {
    background-color: var(--global_red_color);
}

.profile__friend__settings__message i,
.profile__friend__settings__delete i {
    color: #ffffff;
    font-size: 1.3rem;
}

.program_card_container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    transition: transform 0.3s ease;
}

.program_card {
    display: flex;
    align-items: center;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    padding: 20px;
    margin-top: 1rem;
    background-color: #fdfdfd;
    overflow: hidden;
    transition: transform 0.3s ease;
    /* Animation de la carte */
}

.program_card img {
    height: 50px;
    margin-right: .5rem;
}

.program_card p {
    font-size: 1.5rem;
    text-transform: capitalize;
}

.program_card p.p1 {
    margin-right: .25rem;
}

.program_card .title {
    font-size: 1rem;
    margin-top: 0rem;
}

.icon-container-main {
    display: flex;
    /* Alignement des icônes côte à côte */
    gap: 10px;
    /* Espace entre les icônes */
    position: absolute;
    top: 58%;
    transform: translateY(-50%);
    right: -50px;
    /* Les icônes sont placées initialement à droite */
    transition: right 0.3s ease;
    /* Animation de l'apparition des icônes */
}

/* Icône individuelle */
.icon-container {
    font-size: 24px;
    padding: 15px;
    border-radius: 1rem;
    display: none;
    /* Les icônes sont cachées au départ */
    transition: transform 0.3s ease;
    /* Animation de la carte */
}

/* Icône "Check" */
.icon-container.lock {
    background-color: #828282;
    /* Vert */
    color: #fff;
    padding: 20px;
}

/* Icône "Delete" */
.icon-container.delete {
    background-color: var(--global_secondary_color);
    /* Rouge */
    color: #fff;
    padding: 20px;
}

/* Lors du glissement vers la gauche */
.program_card_container.swiped .icon-container-main {
    right: -220px;
    /* Déplace le conteneur d'icônes vers la droite */
    transition: transform 0.3s ease;
    /* Animation de la carte */
}

.program_card_container.swiped .icon-container {
    display: block;
    /* Affiche chaque icône */
    transform: translateX(0);
    /* Animation des icônes */
}


/* Glissement de la carte */
.program_card_container.swiped {
    transform: translateX(-200px);
    /* La carte glisse vers la gauche */
    transition: transform 0.3s ease-in;
    /* Animation de la carte */
}

/* Retour de la carte à la position d'origine */
.program_card_container.swiped-back {
    transform: translateX(0px);
    /* La carte glisse vers la droite */
    transition: transform 0.3s ease;
    /* Animation de la carte */
}

.podium_container{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 67%;
    margin: 0 auto;
}

.podium_container .name{
    font-size: 12px;
    color: #828282;
    font-weight: bold;
    margin-bottom: 20px;
}

.podium2, .podium1, .podium3{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.podium_container img{
    width: 70px;
}

.podium_container .design_podium2{
    width: 50px;
    height: 12rem;
    background-color: rgb(209, 209, 209);
    border-radius: 2em 2em 0 0;
    padding: 30px 0 0 0;
    text-align: center;
    box-shadow: -10px 5px 0 rgb(209, 209, 209, 0.7);
}

.podium_container .design_podium1{
    width: 50px;
    height: 16rem;
    background-color: #f2d94e;
    border-radius: 2em 2em 0 0;
    padding: 30px 0 0 0;
    text-align: center;
    box-shadow: -10px 5px 0 rgb(255, 229, 83, 0.7);
}

.podium_container .design_podium3{
    width: 50px;
    height: 10rem;
    background-color: burlywood;
    border-radius: 2em 2em 0 0;
    padding: 30px 0 0 0;
    text-align: center;
    box-shadow: -10px 5px 0 rgb(222, 184, 135, 0.7);
}

.podium_container .rang{
    font-weight: bold;
}

.podium_container .score{
    font-size: 11px;
    background-color: #fff;
    padding: 2px;
    border-radius: 2em;
    width: 40px;
    margin: 0 auto;
    margin-top: 10px;
}


.profile__circles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 20px 20px 100px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    margin-top: 2rem;
}

.circle {
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#circle1 {
    border: 2px solid #FF7F00;
}

#circle2 {
    border: 2px solid #FFBB00;
}

#circle3 {
    border: 2px solid #3AC20D;
}

#circle4 {
    border: 2px solid #AF2BDF;
}

.circle-p {
    position: absolute;
    bottom: -2rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: .8rem;
    font-weight: 700;
}

.circle-s {
    position: absolute;
    bottom: -4rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: .8rem;
    font-weight: 700;
}

#circle1-p, #circle1-s {
    color: #FF7F00;
}

#circle2-p, #circle2-s {
    color: #FFBB00;
}

#circle3-p, #circle3-s {
    color: #3AC20D;
}

#circle4-p, #circle4-s {
    color: #AF2BDF;
}

.stat__progress {
    position: absolute;
    bottom: 1rem;
    left: 2.6rem;
    right: 2.6rem;
    height: 5px;
    background-color: rgb(145, 145, 145);
    border-radius: 1rem;
}

.stat__progress::before {
    content: '';
    position: absolute;
    width: var(--progress-width, 0);
    height: 5px;
    background-color: var(--progress-color, rgb(145, 145, 145));
    border-radius: 1rem;
}
