.profile {
    position: relative;
    width: 100%;
    padding: 0 2rem;
}

.back {
    font-size: 1.5rem;
    color: var(--global_secondary_color);
    top: 2rem;
    left: 2.5rem;
}

.profile__header {
    position: relative;
    width: 100%;
    padding-top: 2.1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
}

.settings {
    font-size: 1.5rem;
    color: var(--global_secondary_color);
    top: 2rem;
    right: 2.5rem;
}

.profile__img {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}

.profile__tabs {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 2rem;
    border: 1px solid var(--global_grey_color);
    padding: .1rem;
    margin-bottom: 2rem;
}

.profile__tab {
    position: relative;
    background-color: transparent;
    color: var(--global_text_color);
    padding: .75rem 2.5rem;
    border-radius: 2rem;
    font-size: .8rem;
}

.profile__tab.active {
    background-color: var(--global_secondary_color);
    color: #ffffff;
}

.profile__tab-stats, .profile__tab-friend, .profile__tab-rank {
    display: none;
}

.profile__tab-stats.active,
.profile__tab-friend.active,
.profile__tab-rank.active {
    display: block;
}

.profile__title {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile__title p {
    font-size: 1.4rem;
    font-weight: 600;
}

.profile__settings {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile__settings a:last-child {
    position: relative;
    padding: .4rem .8rem;
    background-color: var(--global_grey_color_input);
    color: var(--global_background_color);
    border-radius: 2rem;
    color: #000000;
    font-weight: 600;
    font-size: .8rem;
    margin-left: .5rem;
}

.profile__friends {
    position: relative;
    width: 100%;
    margin-top: 1rem;
}

.profile__friend {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.5rem;
}

.profile__friend:not(:last-child) {
    margin-bottom: .75rem;
}

.profile__friend__base {
    border: 1px solid #000000;
    border-radius: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.profile__friend__base i {
    margin-right: 1rem;
    font-size: 1.5rem;
}

.profile__friend__infos {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.profile__friend__infos img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.profile__friend__infos p {
    font-size: 1.2rem;
    font-weight: 600;
}

.profile__friend__settings {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile__friend__settings__message, .profile__friend__settings__delete {
    width: 4.5rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}

.profile__friend__settings__message {
    background-color: var(--global_secondary_color);
}

.profile__friend__settings__delete {
    background-color: var(--global_red_color);
}
.profile__friend__settings__message i, .profile__friend__settings__delete i {
    color: #ffffff;
    font-size: 1.3rem;
}

.program_card_container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    transition: transform 0.3s ease;
}
.program_card {
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    padding: 20px;
    margin-top: 1rem;
    background-color: #fdfdfd;
    overflow: hidden;
    transition: transform 0.3s ease; /* Animation de la carte */
}

.program_card .title {
    font-size: 1rem;
    margin-top: 0rem;
}

.icon-container-main {
    display: flex; /* Alignement des icônes côte à côte */
    gap: 10px; /* Espace entre les icônes */
    position: absolute;
    top: 58%;
    transform: translateY(-50%);
    right: -50px; /* Les icônes sont placées initialement à droite */
    transition: right 0.3s ease; /* Animation de l'apparition des icônes */
}

/* Icône individuelle */
.icon-container {
    font-size: 24px;
    padding: 15px;
    border-radius: 1rem;
    display: none; /* Les icônes sont cachées au départ */
    transition: transform 0.3s ease; /* Animation de la carte */
}

/* Icône "Check" */
.icon-container.check {
    background-color: #3AC20D; /* Vert */
    color: #fff;
    padding: 20px;
}

/* Icône "Delete" */
.icon-container.delete {
    background-color: var(--global_secondary_color); /* Rouge */
    color: #fff;
    padding: 20px;
}

/* Icône "Cross" */
.icon-container.cross {
    background-color: #FF4C4C; /* Orange */
    color: #fff;
    padding: 20px;
}

/* Lors du glissement vers la gauche */
.program_card_container.swiped .icon-container-main {
    right: -220px; /* Déplace le conteneur d'icônes vers la droite */
    transition: transform 0.3s ease; /* Animation de la carte */
}

.program_card_container.swiped .icon-container {
    display: block; /* Affiche chaque icône */
    transform: translateX(0); /* Animation des icônes */
}


/* Glissement de la carte */
.program_card_container.swiped {
    transform: translateX(-200px); /* La carte glisse vers la gauche */
    transition: transform 0.3s ease-in; /* Animation de la carte */
}

/* Retour de la carte à la position d'origine */
.program_card_container.swiped-back {
    transform: translateX(0px); /* La carte glisse vers la droite */
    transition: transform 0.3s ease; /* Animation de la carte */
}
